In [1]:
import pandas as pd

In [2]:
pd.__file__

'/workspaces/DE-Zoomcamp/pipeline/.venv/lib/python3.13/site-packages/pandas/__init__.py'

In [43]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]


# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
df_iter = pd.read_csv(prefix + '/yellow_tripdata_2021-01.csv.gz', dtype=dtype, parse_dates=parse_dates, iterator=True, chunksize=100000)

In [44]:
from tqdm.auto import tqdm

In [45]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    print(f"inserted {df.shape[0]} rows into the db")

0it [00:00, ?it/s]

inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db
inserted 69765 rows into the db

In [46]:
# Check data types
print('a')

a

In [16]:
# Check data shape
df.shape

(100, 18)

In [18]:
from sqlalchemy import create_engine

In [22]:
engine = create_engine("postgresql+psycopg2://root:root@localhost:5432/ny_taxi")

In [23]:
gets schema of a dataframe

print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [25]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0